{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "CoreBundle:Core:menu.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block custom_css %}
	{% if page is not null and page.mainImage is not null %}
		body{
			background-image: url("{{ vich_uploader_asset(page,'mainImageFile') }}"); 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
		}
		.bg-shadowed{
			background-color: rgba(0,0,0,0.7);
			color: white;
		}
		
		
	{% endif %}
{% endblock %}

{% block body %}
<div class="content">
	<div class="row fixed-bottom">
	{% if page is not null %}
		{% if page.secondaryImage is not null %}
		<div class="offset-lg-4 offset-md-0 col-lg-3 col-md-6 col-sm-12 bg-shadowed">
			<img src="{{ vich_uploader_asset(page,'secondaryImageFile') | imagine_filter('art_list_thumbnail') }}" class="w-100" />
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12  bg-shadowed p-5">
			{{ page.mainText(app.request.getLocale())|raw }}
		</div>
		{% else %}
		<div class="offset-lg-7 offset-md-0 col-lg-3 col-md-6 col-sm-12  bg-shadowed p-5">
			{{ page.mainText(app.request.getLocale())|raw }}
		</div>
		{% endif %}
	{% endif %}
		
	</div>
</div>
  
  
{% endblock %}