{% extends 'CoreBundle:Core:menu.html.twig' %}

{% block body %}
<div class="container">
	<div class="row pt-5">
		<div id="picture-frame" class="col-md-6 col-sm-12 px-2" style="text-align:center">
			<img class="mw-100"
				src="{{ vich_uploader_asset(art,'imageFile') }}"
				alt="{{ art.title }}" />
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="card ">
				<div class="card-body ">
					<h5 class="card-title text-white">
						{{ art.title }}
					</h5>
					<div class="card-text text-dark">
						<li class="list-group-item">{{ 'art.labels.dimensions' | trans }} : {{ art.width }}' x {{ art.height }}'</li>
						<li class="list-group-item">{{ 'art.labels.medium' | trans }} : {{ ('art.labels.mediums.' ~ art.medium) | trans }}</li>
						{% if art.price != 0 %}
							<li class="list-group-item">{{ 'art.labels.price' | trans }} : {{ art.price }}$</li>
						{% endif %}
						<li class="list-group-item">{{ 'art.labels.available' | trans }} : {{  art.available==true?('art.labels.availability.yes' | trans):('art.labels.availability.no' | trans) }}</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}